.message{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop{
    display: flex;
    align-items: center;
}

.messageImage{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.messageText{
    padding: 7px;
    border-radius: 15px;
    background-color: steelblue;
    color: white;
    max-width: 300px;
    font-size: 12px;
}
.messageBottom{
    font-size: 12px;
    margin-top: 4pxpx;
}

.message.me{
    align-items: flex-end;
}
.message.me .messageText{
    background-color: darkgray;
    color: black;
}