.rightbar {
    flex: 3;
    height: 100vh;
    overflow-y :scroll;
    position: sticky;
    top: 50px;
    border: solid 2px #546e7a;
    border-radius: 10px;
    margin-top: 20px;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color:darkgray;
}

.rightbarContainer{
    padding: 10px;
}

.rightbarWrapper{
   padding: 20px 20px 0 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.birthdayContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.birthdayImg{
    width: 60px;
    height: 60px;
    margin-right: 20px;
}
.birthdayText{
    font-size: 15px;
}
.hello{
    width: 60%;
    height: 180px;
    margin-left: 80px;
    border-radius: 20%;
}
.rightbarFriendList{
    padding: 0;
    margin: 0;
    list-style: none; 
}
.rightbarTitle{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-left: 10px;
}
.rightbarFollowingImg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}
.rightbarInfoItem{
    margin-bottom: 10px;
}
.rightInfoKey{
    margin-right: 10px;
    margin-left: 10px ;
    font-weight: 500;
    color: dimgray;
}
.rightbarInfoValue{
    font-weight: 500;
}
.rightbarFollowings{
    margin-left: 10px ;
}
