.messenger {
    height: calc(100vh - 70px);
    display: flex;
    background-color:gray;
}
.chatMenu{
    flex: 3.5;
}

.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-radius: 10px;
    border-bottom: 1px solid gray ;
}
.chatBox{
    flex: 4;
}
.chatBoxWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #808285;
    border-radius: 10px;
}
.chatBoxTop{
    height: 100%;
    overflow-y: scroll;
}
.chatBoxBottom{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chatMessageInput{
    width: 80%;
    height: 60px;
    padding: 10px;
    margin-right: 10px;
}
.send{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
    background-color: blue;
}
.chatOnline{
    flex: 3.5;
}
.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}
.openConversation{
    position: absolute;
    top : 200px;
    font-size: 30px;
    color:white;
    cursor: default;
    text-align: center;
}