.profile{
    display: flex;
    background-color: #808285;
}
.profileRight{
    flex: 9;
}
.profileRightBottom{
    display: flex;
}
.profileCover{
    height: 320px;
    position: relative;
}
.profileCoverImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.profileUserImage{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 200px;
    border: 3px solid black;
}
.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profileInfoName{
    font-size: 24px;
}
